/* .portfolio_items {
  background-color: red;
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
  flex-wrap: wrap !important;
} */

.portfolio_items {
  border: none;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-left: auto;
}

.portfolio_items > div {
  text-align: left;
  width: 16rem;
  min-width: 16rem;
  background-color: white !important;
}

@media (max-width: 991px) {
  .portfolio_items {
    justify-content: center;
  }
}
